{% extends "layouts/signed_out.html" %}

{% block title %}数博数据分析平台初始配置{% endblock %}

{% macro render_field_errors(field) -%}
  {% if field.errors %}
    {% for e in field.errors %}
      <p class="help-block">{{ e }}</p>
    {% endfor %}
  {% endif %}
{%- endmacro %}

{% macro render_field(field, help_block=None) -%}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
    {{ field.label() }}
    {{ field(class='form-control') }}
    {% if help_block %}
        <p class="help-block">{{ help_block }}</p>
    {% endif %}
    {{ render_field_errors(field) }}
  </div>
{%- endmacro %}

{% block content %}
<div class="fixed-width-page">
  <div class="bg-white tiled">
    <h4 class="m-t-0">数博数据分析平台</h4>
    <div>在使用实例之前，需要进行快速设置。</div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form role="form" method="post" name="create_account">
      <h4 class="m-t-25">管理员</h4>
      {{ render_field(form.name) }}
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}

      <div class="checkbox">
        <label>
          {{ form.security_notifications() }}
          订阅安全通知
        </label>
      </div>

      <div class="checkbox">
        <label>
          {{ form.newsletter() }}
          订阅新闻通讯（版本更新，每月不超过一次）
        </label>
      </div>

      <h4 class="m-t-25">常用</h4>

      {{ render_field(form.org_name, help_block="用于电子邮件通知和用户界面。") }}

      <button type="submit" class="btn btn-primary btn-block m-t-25">配置</button>
    </form>
  </div>
</div>
{% endblock %}
